In [44]:
import pandas as pd
import tweepy
import twitter_authentication

In [45]:
consumer_key = twitter_authentication.api_key
consumer_secret = twitter_authentication.api_key_secret
access_token = twitter_authentication.access_token
access_token_secret = twitter_authentication.access_token_secret
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

# Panacealab Data

In [46]:
import gzip
import wget
from shutil import copyfile
import os
import ipywidgets as widgets
import numpy as np
import shutil
from shutil import copyfile

In [47]:
required_month = input('Enter month')

Enter month10

In [48]:
required_month

'10'

In [49]:
days_in_month = {'01' : 32, '02' : 29, '03' : 32, '04' : 31, '05' : 32, '06' : 31, '07' : 32, '08' : 32, '09' : 31, '10' : 32,
                 '11' : 31, '12' : 32}

In [50]:
dataset_URL = f"https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-{required_month}-01/2021-{required_month}-01_clean-dataset.tsv.gz?raw=true" #@param {type:"string"}


#Downloads the dataset (compressed in a GZ format)
#!wget dataset_URL -O clean-dataset.tsv.gz
wget.download(dataset_URL, out='clean-dataset.tsv.gz')

#Unzips the dataset and gets the TSV dataset
with gzip.open('clean-dataset.tsv.gz', 'rb') as f_in:
    with open('clean-dataset.tsv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

#Deletes the compressed GZ file
os.unlink("clean-dataset.tsv.gz")

#Gets all possible languages from the dataset
df = pd.read_csv('clean-dataset.tsv',sep="\t")
lang_list = df.lang.unique()
lang_list= sorted(np.append(lang_list,'all'))
lang_picker = widgets.Dropdown(options=lang_list, value="all")
lang_picker

Dropdown(options=('all', 'ar', 'bg', 'bn', 'ca', 'cs', 'cy', 'da', 'de', 'dv', 'el', 'en', 'es', 'et', 'eu', '…

In [51]:
df.head()

              tweet_id        date      time lang country_code
0  1443787841356673030  2021-10-01  04:00:20   es          NaN
1  1443787845185933336  2021-10-01  04:00:21   en          NaN
2  1443787846461054978  2021-10-01  04:00:21   en          NaN
3  1443787847492792320  2021-10-01  04:00:21   in          NaN
4  1443787849724268553  2021-10-01  04:00:22   en          NaN

In [53]:
df.country_code.value_counts().loc['IN']

160

In [54]:
df = df[df['country_code'] == 'IN']
df = df[df['lang'] == 'en']

In [55]:
final_df = df

In [56]:
lst = [i for i in range(2, 10)]

for i in lst:
    
    dataset_URL = f"https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-{required_month}-0{i}/2021-{required_month}-0{i}_clean-dataset.tsv.gz?raw=true" #@param {type:"string"}
    
    wget.download(dataset_URL, out='clean-dataset.tsv.gz')

    #Unzips the dataset and gets the TSV dataset
    with gzip.open('clean-dataset.tsv.gz', 'rb') as f_in:
        with open('clean-dataset.tsv', 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)

    #Deletes the compressed GZ file
    os.unlink("clean-dataset.tsv.gz")

    #Gets all possible languages from the dataset
    df = pd.read_csv('clean-dataset.tsv',sep="\t")
    df = df[df['country_code'] == 'IN']
    df = df[df['lang'] == 'en']
    print(df.shape)
    
    final_df = final_df.append(df, ignore_index = True)

(117, 5)
(62, 5)
(110, 5)
(79, 5)
(84, 5)
(91, 5)
(61, 5)
(92, 5)

In [57]:
final_df.shape

(809, 5)

In [58]:
for i in range (10, days_in_month[required_month]):
    print(f"https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-{i}/2021-01-{i}_clean-dataset.tsv.gz?raw=true")

https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-10/2021-01-10_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-11/2021-01-11_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-12/2021-01-12_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-13/2021-01-13_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-14/2021-01-14_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-15/2021-01-15_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-16/2021-01-16_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-17/2021-01-17_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-18/2021-01-18_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-19/2021-01-19_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-20/2021-01-20_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-21/2021-01-21_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-22/2021-01-22_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-23/2021-01-23_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-24/2021-01-24_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-25/2021-01-25_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-26/2021-01-26_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-27/2021-01-27_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-28/2021-01-28_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-29/2021-01-29_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-30/2021-01-30_clean-dataset.tsv.gz?raw=true
https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-31/2021-01-31_clean-dataset.tsv.gz?raw=true

In [59]:
lst = [i for i in range(10, days_in_month[required_month])]

for i in lst:
    
    dataset_URL = f"https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-{required_month}-{i}/2021-{required_month}-{i}_clean-dataset.tsv.gz?raw=true" #@param {type:"string"}
    
    wget.download(dataset_URL, out='clean-dataset.tsv.gz')

    #Unzips the dataset and gets the TSV dataset
    with gzip.open('clean-dataset.tsv.gz', 'rb') as f_in:
        with open('clean-dataset.tsv', 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)

    #Deletes the compressed GZ file
    os.unlink("clean-dataset.tsv.gz")

    #Gets all possible languages from the dataset
    df = pd.read_csv('clean-dataset.tsv',sep="\t")
    df = df[df['country_code'] == 'IN']
    df = df[df['lang'] == 'en']
    print(df.shape)
    
    final_df = final_df.append(df, ignore_index = True)

(84, 5)
(88, 5)
(92, 5)
(59, 5)
(90, 5)
(73, 5)
(76, 5)
(101, 5)
(112, 5)
(85, 5)
(73, 5)
(363, 5)
(165, 5)
(109, 5)
(79, 5)
(60, 5)
(72, 5)
(78, 5)
(71, 5)
(84, 5)
(94, 5)
(62, 5)

# Trying to come up with algo for hydrating tweet

In [60]:
def get_full_tweet(x):
    print(x)
    try:
        tweet = api.get_status(x)
        lst = [tweet.created_at, tweet.id, tweet.text, tweet.user, tweet.coordinates, tweet.place, tweet.lang]
        return lst
#        else:
#        return 0
    except Exception as e:
        pass
    
    return [0, x, 0, 0, 0, 0, 0]

# Now we have the algo, we will get hydrated January tweets in climax_df

In [61]:
final_df.head()

              tweet_id        date      time lang country_code
0  1443795675083251717  2021-10-01  04:31:28   en           IN
1  1443796019070656514  2021-10-01  04:32:50   en           IN
2  1443797383670743040  2021-10-01  04:38:15   en           IN
3  1443799575832104961  2021-10-01  04:46:58   en           IN
4  1443801577295286278  2021-10-01  04:54:55   en           IN

In [62]:
final_df.shape

(2979, 5)

In [ ]:
lst = [get_full_tweet(i) for i in list(final_df['tweet_id'])]
climax_df = pd.DataFrame(lst, columns = ['created_at', 'id', 'text', 'user', 'coordinates', 'place', 'lang'])

In [64]:
climax_df.shape

(2979, 7)

# Now we have hydrated data

## Data cleaning

In [65]:
climax_df.head(20)

,created_at,id,text,user,coordinates,place,lang
0,2021-10-01 04:31:28+00:00,1443795675083251717,"Yes, most of them are African countries. These...",User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
1,2021-10-01 04:32:50+00:00,1443796019070656514,"@KTRTRS @KTRoffice Dear Sir, this it to inform...",User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
2,2021-10-01 04:38:15+00:00,1443797383670743040,World Heritage site #Kaziranga national park i...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
3,2021-10-01 04:46:58+00:00,1443799575832104961,Last day of the Double mask.. #COVID19 #Thalai...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
4,2021-10-01 04:54:55+00:00,1443801577295286278,Alarming rise in dengue cases https://t.co/D0n...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
5,2021-10-01 04:55:25+00:00,1443801705661931522,No garba but physical darshan allowed during N...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
6,2021-10-01 04:56:46+00:00,1443802042523271168,Scary! https://t.co/Y0csCVt1mr,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
7,0,1443810585989173256,0,0,0,0,0
8,2021-10-01 05:46:52+00:00,1443814653260230656,Respect them 🙏\n@Naveen_Odisha @SusantaSingh11...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
9,2021-10-01 05:49:46+00:00,1443815381378863107,"Earlier, when people started using masks we we...",User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
10,2021-10-01 05:59:03+00:00,1443817716641533953,In COVID-19 everyone is talking about #Public_...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
11,2021-10-01 05:59:59+00:00,1443817955075129349,Mumbai: BMC issues guidelines for Navratri ami...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
12,2021-10-01 06:22:04+00:00,1443823510879551493,https://t.co/7WpdXYwVYR \nSydney : Australian ...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
13,2021-10-01 06:25:12+00:00,1443824297324122113,Don't Miss This⬇️\n\nFlat 15% OFF on Lab Test ...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
14,2021-10-01 06:34:56+00:00,1443826750048272387,I reiterate @capt_amarinder.\nU showed your me...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
15,2021-10-01 06:44:12+00:00,1443829081842216960,Today marks the International Day of Older Per...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
16,0,1443830872654823425,0,0,0,0,0
17,2021-10-01 06:54:30+00:00,1443831672542154753,Shop to save more🤩\n\nInstall now - https://t....,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
18,0,1443832099375497219,0,0,0,0,0
19,2021-10-01 06:59:26+00:00,1443832913452093440,Such a relief to see zero active #Covid19 case...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en

In [66]:
climax_df.shape

(2979, 7)

In [67]:
climax_df.loc[1, 'text']

'@KTRTRS @KTRoffice Dear Sir, this it to inform you that Covid-19 vaccine service provided in Koti Hospital for fore… https://t.co/P0mvSzbVpb'

In [68]:
climax_df = climax_df[climax_df['text'] != 0]

In [69]:
climax_df.shape

(2736, 7)

In [70]:
climax_df.head()

,created_at,id,text,user,coordinates,place,lang
0,2021-10-01 04:31:28+00:00,1443795675083251717,"Yes, most of them are African countries. These...",User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
1,2021-10-01 04:32:50+00:00,1443796019070656514,"@KTRTRS @KTRoffice Dear Sir, this it to inform...",User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
2,2021-10-01 04:38:15+00:00,1443797383670743040,World Heritage site #Kaziranga national park i...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
3,2021-10-01 04:46:58+00:00,1443799575832104961,Last day of the Double mask.. #COVID19 #Thalai...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en
4,2021-10-01 04:54:55+00:00,1443801577295286278,Alarming rise in dengue cases https://t.co/D0n...,User(_api=<tweepy.api.API object at 0x0000015E...,None,Place(_api=<tweepy.api.API object at 0x0000015...,en

In [71]:
climax_df.to_csv(f'Covid-19_no-empty-row_Data_for_Month_{required_month}_2021.csv')